<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <title>ExamsHelper</title>
</head>

<body>
  <div class="login-popup">
    <div class="login-popup__menu">
      <h3 class="login-popup__title">ExamsHelper</h3>
      <div class="button-wrapper">
        <button id="loginBtn" class="button button--styled">Log in</button>
        <button id="signBtn" class="button button--styled">Sign up</button>
      </div>
    </div>
    <div class="login-popup__content">

  </div>
  <script src="main.js"></script>
</body>

</html>
