@model IEnumerable<ExamsHelper.Models.Univers>
@{
    ViewData["Title"] = "Home Page";
}




@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#univer').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFacultiesOfUnivers")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#facultyid').replaceWith(data);
                }
            });
        });
        })
    
    </script>
}

    <html>
    <head>
        <link rel="stylesheet" href="~/css/style.css" />
    </head>
    <body style="background-color:darkgray">
        <div style="margin-top:40px;" class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2 class='spaced-bottom'>Search</h2>
                            <form method="post">
                                <label>
                                    <h4>University</h4>
                                    <select class="form-control form-control-lg" name="univer" asp-items="ViewBag.univers" id="univer"></select>
                                </label>
                                <label>
                                    <h4>Faculty</h4>
                                    <select class="form-control form-control-lg" name="faculty" asp-items="ViewBag.faculties" id="facultyid"></select>
                                </label>
                                <input class="btn btn-warning" asp-action="Index" asp-controller="Subjects" type="submit" value="Search subjects on your faculty" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </body>
    </html>
   