@model IEnumerable<ExamsHelper.Models.Univers>
@{
    ViewData["Title"] = "Home Page";
}




@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#univer').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFacultiesOfUnivers")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#facultyid').replaceWith(data);
                }
            });
        });
        })
    
    </script>
}

    <html>
    <head>
        <style>


            body {
                --from-static-width: 420px;
                --main-font: 'Roboto', sans-serif;
                --header-font: 'Anton', sans-serif;
                --main-color: #2e6da4;
                --light-color: #337ab7;
                --white: #fff;
                --black: #222;
                --gray: #888;
                --dark-white: #f5f5f5;
                --shadow-color: #eee;
                --shadow: 0px 0px 8px 2px var(--shadow-color);
                --space: 15px;
                --screw: 4px;
                background-color: var(--white) !important;
                color: var(--black) !important;
                font-family: var(--main-font) !important;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: var(--header-font);
                text-transform: uppercase;
                margin-top: 0;
            }

            td {
                color: var(--black);
            }

            .logo {
                color: var(--white);
            }

            .shadow {
                box-shadow: var(--shadow);
            }

            form.controlled > * {
                margin-bottom: var(--space);
            }

            .spaced-bottom {
                margin-bottom: var(--space);
            }

            button,
            input[type='submit'],
            input[type='button'] {
                background-color: var(--light-color) !important;
                border-color: var(--main-color) !important;
                color: var(--white) !important;
                border-radius: var(--screw);
                text-transform: uppercase;
            }


            form {
                display: flex;
                flex-direction: column;
            }

            form > * {
                margin-bottom: var(--space);
            }

            .form-wrapper{
                box-shadow: var(--shadow);
                width: var(--from-static-width);
                margin: auto;
            }
        </style>

    </head>
    <body>
        <div style="margin-top:40px;" class="container">
            <div class="row">

                <div class="panel-body form-wrapper">
                    <h2 class='spaced-bottom'>Search</h2>
                    <form method="post">
                        <label>
                            <h4>University</h4>
                            <select class="form-control form-control-lg" name="univer" asp-items="ViewBag.univers" id="univer"></select>
                        </label>
                        <label>
                            <h4>Faculty</h4>
                            <select class="form-control form-control-lg" name="faculty" asp-items="ViewBag.faculties" id="facultyid"></select>
                        </label>
                        <input class="btn btn-warning" asp-action="Index" asp-controller="Subjects" type="submit" value="Search subjects on your faculty" />
                    </form>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </body>
    </html>
   