@model IEnumerable<ExamsHelper.Models.Questions>
@{
    ViewData["Title"] = "Questions";
}

<html>

<head>
    <h2 style="color:white">My Questions</h2>
</head>

<body style="background-color:darkgray">
    @functions
    {
    int counter = 0;
    int returnNumber()
    {
        return ++counter;
    }
    }
    <br />
    <div class="well">
        <table class="table">
            <tr>
                <td>
                    Number
                </td>
                <td>
                    Question
                </td>
                <td>
                    Answer
                </td>
                <td>
                    Delete
                </td>
            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @returnNumber()
                </td>
                <td>@item.Question</td>
                <td>
                    <a>Show</a>
                </td>
                <td>
                    <a href="~/Questions/DeleteQuestion/?id=@item.Id&sid=@item.SubjectsId">Delete</a>
                </td>
            </tr>
            }
        </table>
    </div>

</body>

</html>

