
@{
    ViewData["Title"] = "Create";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body style="background-color:darkgray">
    <div style="margin-top:40px;" class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5 class="text-center">
                            <h1>Create Subject</h1>
                        </h5>
                        <form method="post">
                            Name
                            <input class="form-control" type="text" name="nameSubj">
                            <br />
                            Teacher
                            <input class="form-control" type="text" name="teacher">
                            <br />
                            Specialization
                            <input class="form-control" type="text" name="spec">
                            <br />
                            <div asp-validation-summary="ModelOnly"></div>
                            <input class="btn btn-warning" asp-action="Create" asp-controller="Subjects" type="submit" value="Create Question" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

