@model IEnumerable<ExamsHelper.Models.Subjects>
@{
    ViewData["Title"] = "Subjects";
}

<html>

<head>
    <h2 style="color:white">My Subjects</h2>
</head>

<body style="background-color:darkgray">
    <br />
    <div class="well">
        <table class="table">
            <tr>
                <td>
                    Name
                </td>
                <td>
                    Specialization
                </td>
                <td>
                    Teacher
                </td>
                <td>
                    Exam Questions
                </td>
                <td>
                    Delete
                </td>
            </tr>
            
            @foreach (var item in Model)
    {
            <tr>
                <td>@item.NameOfSubject </td>
                <td>@item.Speciality</td>
                <td>@item.Teacher</td>
                <td>
                    <a href="~/Questions/ShowSubjectQuestions/?id=@item.Id">Show</a>
                </td>
                <td>
                    <a href="~/Subjects/DeleteSubject/?id=@item.Id&fid=@item.FacultiesId" >Delete</a>
                </td>
            </tr>
}
        </table>
    </div>

</body>

</html>

