<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ExamsHelper</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/style.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto" rel="stylesheet">
    <style>


        body {
            --main-font: 'Roboto', sans-serif;
            --header-font: 'Anton', sans-serif;
            --main-color: #2e6da4;
            --light-color: #337ab7;
            --white: #fff;
            --black: #222;
            --gray: #888;
            --dark-white: #f5f5f5;
            --shadow: 0px 0px 6px 2px var(--dark-white);
            --space: 15px;
            --screw: 4px;
            --link-color: #77acd9;
            background-color: var(--white) !important;
            color: var(--black) !important;
        }

h1, h2, h3, h4, h5, h6, .logo {
	font-family: var(--header-font);
	text-transform: uppercase;
	margin-top: 0;
}

        .logo {
            font-size: 1.6em;
        }

a{
    color: var(--white);
}

td{
    color: var(--black);

}

.shadow {
	box-shadow: var(--shadow);
}

form.controlled > * {
	margin-bottom: var(--space);
}
footer {
    background-color: var(--black);
    color: var(--white);
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: flex-end;
    box-shadow: var(--shadow);
}
.spaced-bottom {
    margin-bottom: var(--space);
}

button,
input[type='submit'],
input[type='button'] {
	background-color: var(--light-color) !important;
	border-color: var(--main-color) !important;
	color: var(--white) !important;
	border-radius: var(--screw);
}
        .navbar-brand{
            color: var(--white) !important;
            transition: all .3s;
        }

            .navbar-brand:hover {
                color: var(--link-color) !important;
            }

        .navbar-inverse {
            max-height: 40px;
            box-shadow: var(--shadow);
        }

        .profile .dropdown-toggle{
            color: var(--white) !important;
            max-height: 40px;
            border: 0;
        }

        .dropdown-menu{
            box-shadow: none;
        }

        .profile .dropdown-toggle:hover{
            background-color: var(--black) !important;
        }

        .body-content{
            min-height: calc(100vh - 110px);
        }

    </style>
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">


            <div class="navbar-collapse collapse">

                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand logo">Exams Helper</a>


                @if (User.Identity.IsAuthenticated)

                {
                    <a asp-area="" asp-controller="Questions" asp-action="CreateQuestion" class="navbar-brand">Question</a>
                    <a asp-area="" asp-controller="Subjects" asp-action="CreateSubject" class="navbar-brand">Subject</a>
                    <a asp-area="" asp-controller="Univers" asp-action="CreateUniversity" class="navbar-brand">University</a>
                    <a asp-area="" asp-controller="Faculties" asp-action="CreateFaculty" class="navbar-brand">Faculty</a>
                    <a asp-area="" asp-controller="Admin" asp-action="Index" class="navbar-brand"> Admin Panel</a>

                    <div class="col-sm-3 col-md-3">
                        <form class="navbar-form" navbar-right" role="search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search" name="inputSearch">
                                <div class="input-group-btn">
                                    <button asp-controller="Home" asp-action="Search" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-nav navbar-right profile">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> @User.Identity.Name <span class="caret"></span> </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a asp-controller="Users" asp-action="Users">Profile</a></li>
                                <li><a asp-controller="Home" asp-action="SignOut">Sign Out</a></li>
                            </ul>
                    </ul>
                }
                else
                {
                    <a asp-area="" asp-controller="Home" asp-action="SignIn" class="navbar-brand">Sign In</a>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()

    </div>
    <footer>
        <p>&copy; 2018 - All rights reserved</p>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
