@model IEnumerable<ExamsHelper.Models.Faculties>
<select id="facultyid" class="form-control form-control-lg" name="Faculty">
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.NameOfFaculties</option>
    }
</select>