@model ExamsHelper.Models.User

@{
    ViewData["Title"] = "EditUser";
}


@section scripts{
    <script type="text/javascript">
    $(function () {

        $('#univer').change(function()
        {
            // получаем выбранный id
            var id = $(this).val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetFacultiesOfUnivers")/' + id,
                success: function (data) {

                    // заменяем содержимое присланным частичным представлением
                    $('#facultyid').replaceWith(data);
                }
            });
        });
    })
    </script>
}


<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h2>EditUser</h2>

    <h4>User</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Login" class="control-label"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Moderator" /> @Html.DisplayNameFor(model => model.Moderator)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="FacultiesId" class="control-label"></label>
                    <select asp-for="FacultiesId" class="form-control" asp-items="ViewBag.faculties" id="facultyid" name="faculty"></select>
                    <span asp-validation-for="FacultiesId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UniversId" class="control-label"></label>
                    <select asp-for="UniversId" class="form-control" asp-items="ViewBag.univers" id="univer" name="univer"></select>
                    <span asp-validation-for="UniversId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>


</body>
</html>
