@model ExamsHelper.Models.Univers

@{
    ViewData["Title"] = "EditUniver";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <h2>EditUniver</h2>

    <h4>Univers</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditUniver">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="NameOfUniver" class="control-label"></label>
                    <input asp-for="NameOfUniver" class="form-control" />
                    <span asp-validation-for="NameOfUniver" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Town" class="control-label"></label>
                    <input asp-for="Town" class="form-control" />
                    <span asp-validation-for="Town" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>

